<%= form_for(@bannerimage) do |f| %>
  <% if @bannerimage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bannerimage.errors.count, "error") %> prohibited this bannerimage from being saved:</h2>

      <ul>
      <% @bannerimage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
