

<div id="banner" class="homepage_banner" 
style="visibility: visible; background-image: url('') ">
	<div class="wrapper">
		<h1 class="title" style="visibility: visible; ">Hey, I'm <span class="responsive_break">Joshua Ledbetter</span></h1>
		<h2 class="sub_title">Thanks for checking out my site!</h2>
		<p1 class="sub_title" style="visibility: visible; ">
			<% @socials.each do |social| %>
			<a href="<%= social.facebook %>" target="_blank">Facebook</a> |
	        <a href="<%= social.twitter %>" target="_blank">Twitter</a> |
	        <a href="<%= social.instagram %>" target="_blank">instagram</a>
	        <% end %>
   		</p1>
	</div>
	<% if user_signed_in? %>
	<a href="/bannerimages/1/edit" class="changeBanner">Change Banner</a>
	<% end %>
</div>
<span id="theHiddenImg" style="display:none;"><%= image_tag @bannerimages.image.url(:original, timestamp: false) %></span> 

<section class="features-list" id="features">
	<h1 class="titlers">Check out some of my most recent posts</h1>
			<div class="container">

				<div class="row">
					<div class="col-md-12">
						<% @posts.each do |post| %>
						<div class="col-md-4 feature-1 wp2 animated fadeInDown">
							<div class="feature-content">
								<h1><%= post.title %></h1>
								<p><%= truncate(" #{post.description} ", :length => 205) %></p>
								<%= link_to 'Read More', post %>
							</div>
						</div>
						<% end %>
					</div>
				</div>
			</div>
		</section>


<section class="screenshots" id="screenshots">
	<div class="container-fluid">
		<div class="row">
			<ul class="grid">
				<% @photos.each do |photo| %>
				<li>
					<figure>
						<%= image_tag photo.image.url(:original, timestamp: false) %>
						<figcaption>
						<div class="caption-content">
								<i class="fa fa-search"></i><br>
								<p><%= truncate(" #{photo.description} ", :length => 35) %></p>
						</div>
						<% if user_signed_in? %>
			            <p><%= link_to "edit", photo, :class => "editPhoto" %></p>
			            <% end %>
						</figcaption>
					</figure>
				</li>
				<% end %>
			</ul>
		</div>
	</div>
</section>
<section class="download" id="download">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center wp4">
				<h1>Contact Me!</h1>
				<a href="mailto:ledbetterljoshua@gmail.com?Subject=Hello%20From%20Your%20WebSite" target="_top" class="download-btn">Send Me An Email <i class="fa fa-download"></i></a>
			</div>
		</div>
	</div>
</section>


<script>

bannerImg();
</script>